body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#character {
  position: absolute;
  bottom: 20%;
  left: 25%;
  transform: translateX(-50%);
  transition: transform 0.2s ease;
}
.background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-image: url("images/background-1.png");
  background-size: 50% 100%;
  background-repeat: repeat;
  animation: slide 12s linear infinite;
}
@keyframes slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
