body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#character {
  position: absolute;
  bottom: 10%;
  left: 25%;
  transform: translateX(-50%);
  transition: transform 0.2s ease;
}
.background {
  position: absolute;
  width: 200%;
  height: 100%;
  background-image: url("images/background-1.png");
  background-size: 50% 100%;
  background-repeat: repeat;
  animation: slide 10s linear infinite;
}
@keyframes slide {
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
#infoBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1000;
  display: none;
  border-radius: 20px;
}

#startButton,
#closeInfo {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
